html
{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url("../Images/BackgroundImage.jpg");
    background-size: 100% 1300px;
    background-repeat: no-repeat;
    background-position: right top 50px;
    background-color: white;
    animation: Brightness 2s linear 1;

}
#OlivierLogo
{
    height: 40px;
}
header
{
    font-family: Tahoma;
    width: 100%;
    padding-top: 20px;
    height: 60px;
    box-shadow: 0 10px 10px #515151;
    background-color: #ffffff;
}
nav
{
    position: relative;
    display: flex;
    float: right;
    font-size: 25px;
    font-weight: bolder;
    right: 10px;
    height: 40px;
    justify-content:center;
    align-content: center;
    padding: 10px
}
nav ul
{
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
}
nav li
{
    margin-right: 5px;
    padding-right: 50px;
    transition: all 0.3s ease-in-out;
}

nav a
{
    text-decoration: none;
    background-image: linear-gradient(
    to left,
    #000000,
    #000000 50%,
    #F91D8A 50%,
    #0000f0 100%

    );
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
}
nav a:hover
{
    background-position: 0;
}
nav li:hover
{
    margin-top: 5px;
}
Main
{
    font-family: sans-serif;
    z-index: -5;
}

#IntroMenu
{
    margin-top: 350px;
    margin-left: 10vw;
    font-size: 30px;
}

#IntroMenu h1
{
    margin: 0;
}

#Name
{
    font-size: 70px;
    font-weight: bold;
}

.Animated
{
    animation: Moves 10s linear infinite;
    background-image: linear-gradient(
            to right,
            #F91D8A,
            #0000f0,
            #F91D8A,
            #0000f0
    );
    background-size:300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Slash {
    animation: blinker 2s linear infinite;
}

#Tag
{
    animation: Glitch 15s alternate linear both  infinite;
    color: #0000f0;
    display: inline-flex;
}

#AboutMe
{
    position: relative;
    margin-top: 25px;
}
#AboutMe a
{
    padding: 10px 20px 10px 20px ;
    background-image: linear-gradient(
            to right,
            #F91D8A,
            #0000f0
);
    background-size:400% 100%;
    background-position: 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
    display: flex;
    width: fit-content;
    box-shadow: inset 0 4px 4px #515151, 0px 0px #515151;
}
#AboutMe a:hover
{
    background-position: 100%;
    box-shadow: inset 0 0px 0px #515151, 0 5px 5px #515151;
    transform: translateY(-5px);
}

#PFP
{
    display: flex;
    height: 1400px;
    float: right;
    margin-right: 150px;
    margin-top: -830px;
}

#Border
{
    width: 100%;
    height: 600px;
    border: 0 solid;
    margin-top: -120px;
    position: relative;
    z-index: 1;
}

#AboutSec
{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -350px;
    display: flex;
    background-color: #363c4c;

}

#LeftSide
{
    height: 100%;
    width: 50%;
    background-image: url("../Images/BackgroundCopy.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 300px 100px 0px 0px;
    box-sizing: border-box;
    filter: brightness(1.2);
    float: left;
    box-shadow: inset -16px 0px 18px -11px #404040;

}

#RightSide
{
    position: relative;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 300px;
}

#LeftSide H1
{
    font-size: 60px;
}
#LeftSide h2
{
    font-size: 30px;
}

#LeftSide p
{
    font-size: 20px;
    height: 350px;
    width: 90%;
    max-height: 400px;
    overflow: auto;
}
#LeftSide p, #LeftSide h2, #LeftSide h1
{
    margin-left: 50px;
}

#Socials
{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height: fit-content;
    margin-bottom: 25px;
    margin-left: 50px;
}
#Socials img
{
    width: 80px;
    height: auto;
    transition: 0.3s;
}

#Border, #PFP, #OlivierLogo
{
    -webkit-user-drag: none;
    user-select: none;
}
#Socials img:hover
{

}
@keyframes Glitch {
    0%
    {
        transform: translate(5px, -5px);
    }
    10%
    {
        transform: translate(0px, -5px);
    }
    20%
    {
        transform: translate(-5px, 0px);
    }
    30%
    {
        transform: translate(5px, 5px);
    }
    40%
    {
        transform: translate(0px, -5px);
    }
    50%
    {
        transform: translate(0px, 0px);
    }
    60%
    {
        transform: translate(-5px, 5px);
    }
    70%
    {
        transform: translate(0px, 0px);
    }
    80%
    {
        transform: translate(0px, -5px);
    }
    90%
    {
        transform: translate(5px, 5px);
    }
    100%
    {
        transform: translate(5px, -5px);
    }
}

@keyframes Moves {
    0%
    {
        background-position: 100%, 0%;
    }
    100%
    {
        background-position: 0%, 0%;
    }
}
@keyframes blinker {
    20%{
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}